header {
  margin: 3rem 0;
  text-align: center;
}

header img {
  width: 10rem;
  height: 5rem;
  object-fit: cover;
}

header h1 {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 5rem;
  background: linear-gradient(40deg, #ea00ff, #ea00ff, #03d5ff, #03d5ff);
  filter: drop-shadow(0 2px 8px rgb(0 0 0 / 50%));
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

header p {
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.25rem;
  color: #8964b0;
}
