.counter {
  width: 40rem;
  padding: 1rem;
  margin: 5rem auto;
  text-align: center;
  background-color: #f4f0fa;
  border-radius: 8px;
  box-shadow: 0 1px 8px rgb(0 0 0 / 20%);
}

.counter h1 {
  margin: 0;
  font-size: 1rem;
  color: #575757;
  text-transform: uppercase;
}

.value {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: #3c0080;
}

.counter button {
  margin: 1rem;
}
