* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgb(255 255 255 / 87%);
  color-scheme: light dark;
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;

  --color-gray-100: #f4f3f1;
  --color-gray-200: #dddbd8;
  --color-gray-300: #ccc9c6;
  --color-gray-400: #aeaba7;
  --color-gray-500: #8a8784;
  --color-gray-600: #656360;
  --color-gray-700: #4b4a47;
  --color-gray-800: #31302e;
  --color-gray-900: #1f1d1b;
  --color-primary-100: #fcf3e1;
  --color-primary-200: #fceccd;
  --color-primary-300: #fae1af;
  --color-primary-400: #fbd997;
  --color-primary-500: #ffd37c;
  --color-primary-600: #f9c762;
  --color-primary-700: #fbc14d;
  --color-primary-800: #fab833;
  --color-primary-900: #f6ad1b;
  --color-red-50: oklch(97.1% 0.013 17.38deg);
  --color-red-100: oklch(93.6% 0.032 17.717deg);
  --color-red-200: oklch(88.5% 0.062 18.334deg);
  --color-red-300: oklch(80.8% 0.114 19.571deg);
  --color-red-400: oklch(70.4% 0.191 22.216deg);
  --color-red-500: oklch(63.7% 0.237 25.331deg);
  --color-red-600: oklch(57.7% 0.245 27.325deg);
  --color-red-700: oklch(50.5% 0.213 27.518deg);
  --color-red-800: oklch(44.4% 0.177 26.899deg);
  --color-red-900: oklch(39.6% 0.141 25.723deg);
  --color-red-950: oklch(25.8% 0.092 26.042deg);
}

body {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.form-errors {
  color: var(--color-red-400);
}
